body {
  background-color: white;
}
h1{
  font-family: 'Playfair Display', serif;
  margin-left:20px;
  font-size: 4em;
}
h2 {
  margin: 0;
  font-family: 'Nanum Gothic', sans-serif;
  line-height: 130%;

}

.relative {
  position: relative;
  float: left;
}

.img-list {
  margin: 20px auto;
  width: 80%;
  height: 150px;
}

.yoga-img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  align-items: center;
  display: inline-block;
}

.img-box {
  width: 11.5%;
  height: 100%;
  border: 2px solid cornflowerblue;
}

.container {
  display: flex;
  width: 100%;
  /* padding: 4% 2%; */
  box-sizing: border-box;
  height: 25vh;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: .3s;
  margin: 0 0.1%;
  /* box-shadow: 0 20px 30px rgba(0,0,0,.1); */
  box-shadow: 0 20px 30px rgba(255, 77, 77, .1);
  line-height: 0;
  background-color: white;

}

.box>img {
  width: 80%;
  height: 100%;
  object-fit: contain;
  transition: .3s;
}

.box>span {
  font-size: 2.0vh;
  display: block;
  text-align: center;
  height: 5vh;
  line-height: 2.6;
}

.box:hover {
  height: 30vh;
  flex: 1 1 10%;
}

.box:hover>img {
  width: 100%;
  height: 100%;
}

.pose {
  left: 900px;
  /* top: 10px; */
}

.mistake {
  left: 450px;
  top: 150px;
  width: 500px;
  height: 300px;
}

.item {
  top: 400px;
  left: 20px;
}

.item h2 {
  text-align: center;
  position: absolute;
  line-height: 190px;
  width: 100%;
}

svg {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.circle_animation {
  stroke-dasharray: 660;
  /* this value is the pixel circumference of the circle */
  stroke-dashoffset: 660;
  transition: all 1s linear;
}

.button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 25px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px 0 100px;
  cursor: pointer;

}

.button4 {
  background-color: white;
  color: black;
  border: 4px solid #008CBA;

  margin-top: 100px;
  border-radius: 6px;
}