body {
  background-color: #f7fbfc;
}

h1{
  font-family: 'Playfair Display', serif;
  margin-left:20px;
  font-size: 4em;
  color: #ffcc00;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

h2 {
  margin: 0;
  font-family: 'Nanum Gothic', sans-serif;
  line-height: 130%;
  text-align: center;
}

.fixed {
  position: fixed;
  float: left;
}

.img-list {
  margin: 20px auto;
  width: 80%;
  height: 150px;
}

.yoga-img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  align-items: center;
  display: inline-block;
}

.img-box {
  width: 11.5%;
  height: 100%;
  border: 2px solid cornflowerblue;
}

.container {
  display: flex;
  width: 100%;
  /* padding: 4% 2%; */
  box-sizing: border-box;
  height: 25vh;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: .3s;
  margin: 0 0.1%;
  /* box-shadow: 0 20px 30px rgba(0,0,0,.1); */
  box-shadow: 3px 10px 0px rgba(255,204,0, .8);
  line-height: 0;
  background-color: white;

}

.box>img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: .3s;
}

.box>span {
  font-size: 2.0vh;
  display: block;
  text-align: center;
  height: 5vh;
  line-height: 2.6;
}

.box-hover {
  height: 30vh;
  flex: 1 1 10%;
}

.pose {
  left : 850px;
  top: 220px;
}

.mistake {
  left: 850px;
  top: 350px;
  width: 600px;
  height: 250px;
  border: 4px solid #ffcc00;
  background-color: white;
}

.mistake-list {
  padding: 5px;
}

.item {
  top: 620px;
  left: 850px;
}

.timer {
  position: absolute;
  line-height: 190px;
  width: 100%;
  top: 20px;
}

svg {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.circle_animation {
  stroke-dasharray: 660;
  /* this value is the pixel circumference of the circle */
  stroke-dashoffset: 660;
  transition: all 1s linear;
}

.button {
  background-color: #ffcc00;
  /* Green */
  border: none;
  color: #ffcc00;
  padding: 25px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 2px 0 100px;
  cursor: pointer;
  position: fixed;
  top: 700px;
}

.button4 {
  background-color: white;
  color: black;
  border: 4px solid  #ffcc00;
  border-radius: 6px;
  font-size: larger;
}
canvas{
  border: 5px solid  #ffcc00;
}